{% extends "base.html" %}


{% block content %}



<div class="container-fluid bg-3">

  <div class="row">

    <div class="col-lg-8">
      <h2>Autovermietungen in Göttingen:</h2>
    </div>

    <div class="col-lg-4">
    </div>



  </div>

    <div class="row">

      <div class="col-lg-8">

        <div id="map"></div>

          <script>

            var map, heatmap;

            //initialisiere Map

            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: {lat: 51.533767,lng: 9.934980},
                mapTypeId: 'satellite'
              });

            //Lege Heatmap über Map

              heatmap = new google.maps.visualization.HeatmapLayer({
                data: getPoints(),
                map: map,
                radius:20
              });

              getMarker(map);

              // set Marker 



            }

            //Punkte definieren
            function getPoints() {
            carRentalsJS = JSON.parse("{{ carRentalsJS|escapejs }}");
            var stations = [];
            carRentalsJS.forEach(function(station){
              stations.push({location: new google.maps.LatLng(station[0],station[1]), weight:station[2]});   
              });

            console.log(stations);
            return stations; 
          }

          //Marker definieren
          function getMarker(map) {
              

            carRentalsJS = JSON.parse("{{ carRentalsJS|escapejs }}");
            var mapmarker = [];
            carRentalsJS.forEach(function(station){
              var pos = {lat: station[0], lng: station[1]};
              var marker = new google.maps.Marker({
                position: pos,
                map: map,
                label: station[4],
                title: station[3]
              });

            marker.setMap(map)
            });
          }

          //Funktion zum Zoomen in die Map
            function listItemClicked(label){
             var pos;

            carRentalsJS = JSON.parse("{{ carRentalsJS|escapejs }}");

             carRentalsJS.forEach(function(rental){
              if (rental[4] == label){
                pos = {lat: rental[0], lng: rental[1]};
              }
             });

            map.setZoom(15);
            map.setCenter(pos);

          }


      

             
          </script>
          <script async defer
              src="{{key}}">
          </script>

          </div>

      <div class="col-lg-4">

        <div class="list-group" height=400px>
       
           {% for rental in carRentalsHTML %}

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between" onclick="listItemClicked('{{ rental.label }}')">
            <h3 class="mb-1">{{ rental.label }} - {{ rental.name }}</h5>
            <small> Adresse: {{ rental.address}}</small>
            <p class="mb-1"> Buchungen: {{ rental.bookings }}</small>
            </div>
            </a>

          {% endfor %}



    </div>




      </div>

   </div>

</div>




{% endblock %}